
<h3><a href="https://chromestatus.com/feature/{{ feature.id }}" target="_blank">{{ feature.name }}</a></h3>
<p style="white-space: pre-wrap">{{ feature.summary }}</p>
<dl>
    {% if feature.motivation %}
    <dt>Motivation</dt>
    <dd style="white-space: pre-wrap">{{ feature.motivation }}</dd>
    {% endif %}
    <dt>Specification</dt>
    {% if feature.spec_link %}
    <dd><a href="{{ feature.spec_link }}" target="_blank">{{ feature.spec_link }}</a></dd>
    {% else %}
    <dd>N/A</dd>
    {% endif %}
    <dt>Blink component</dt>
    {% for component in feature.browsers.chrome.blink_components %}
    <dd>{{ component }}</dd>
    {% endfor %}
    <dt>Tracking bug</dt>
    {% if feature.bug_url %}
    <dd><a href="{{ feature.bug_url }}" target="_blank">{{ feature.bug_url }}</a></dd>
    {% else %}
    <dd>N/A</dd>
    {% endif %}
    <dt>Status</dt>
    <dd>{{ feature.browsers.chrome.status.text }}</dd>
    {% if feature.browsers.chrome.desktop %}
    <dd>Chrome Desktop {{ feature.browsers.chrome.desktop }}</dd>
    {% endif %}
    {% if feature.browsers.chrome.android %}
    <dd>Chrome Android {{ feature.browsers.chrome.android }}</dd>
    {% endif %}
</dl>
