
<h3><a href="https://webstatus.dev/features/{{ feature.id }}" target="_blank">{{ feature.name }}</a></h3>
<p>{{ feature.description_html | safe }}</p>
<dl>
    <dt>Specification</dt>
    <dd>
        {% if feature.spec is string %}
        <a href="{{ feature.spec }}" target="_blank">{{ feature.spec }}</a>
        {% elif feature.spec is iterable %}
        <ul>
            {% for url in feature.spec %}
                <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </dd>
    <dt>Compat keys</dt>
    <dd>
        {% if feature.compat_features is iterable %}
        <ul>
            {% for path in feature.compat_features %}
                <li>{{ path }}</li>
            {% endfor %}
        </ul>
        {% else %}
        N/A
        {% endif %}
    </dd>
    <dt>Support</dt>
    {% set support = feature.status.support %}
    {% if support.chrome %}
    <dd>Chrome Desktop {{ support.chrome }}</dd>
    {% endif %}
    {% if support.chrome_android %}
    <dd>Chrome Android {{ support.chrome_android }}</dd>
    {% endif %}
    {% if not (support.chrome or support.chrome_android) %}
    <dd>N/A</dd>
    {% endif %}
    <dt>Source</dt>
    <dd><a href="https://github.com/web-platform-dx/web-features/blob/main/features/{{ feature.id }}.yml" target="_blank">{{ feature.id }}.yml</a></dd>
    <dd><a href="https://github.com/web-platform-dx/web-features/blob/main/features/{{ feature.id }}.yml.dist" target="_blank">{{ feature.id }}.yml.dist</a></dd>
</dl>
